<html>
        <style type="text/css">
        h1 {

        }
        #hdiv {
            border: 1px solid black;
        }
        #container {
            border: 1px solid black;
            padding-top: 2rem;
            padding-bottom: 2rem;
            padding-left: 2rem;
            padding-right: 2rem;

        }
        .subcontainer {
            border: 1px solid black;
            margin-top: 1rem;
            margin-bottom: 1em;
            display: grid;
        }
        img {
            width: 20rem;
            height: 300px;
            border-radius: 10px;
            border: 1px solid black;
            float: left;

        }
        </style>


</html>
