
        <style type="text/css">
            h2 {
                
            }

        #hdiv {
            border: 10px solid rgb(250, 244, 244);
            width: auto;
            height: 60px;
            text-align: center;
            border-radius: 15px;
            padding-bottom: 2rem;
            font-size: 30px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            color: rgb(197, 173, 55);
            box-shadow: 5px 5px 5px 5px;

              }

        #container {
            border: 0 solid black;
            width: auto;
            height: 350px;
            display: flex;
            column-gap: 30px;
            margin-top: 3rem;
            margin-left: 5rem;
            margin-right: 5rem;
            padding-top: 3rem;
            text-align: center;
        }
        .subcondiv {
            border: 2px solid black;
            width: 20rem;
            height: 300px;
            margin-right: 2rem;
            margin-left: 1rem;
            border-radius: 5px;
            box-shadow: 5px 5px 5px 5px;
        }
        #lstdiv {
            border: 0 solid black;
            width: auto;
            height: 5rem;
            text-align: center;
        }
        img{
            width: 20rem;
            height: 300px;
            border-radius: 5px;
        }
        h4{
            text-align: center;
        }
        a,
        ul {
            text-decoration: none;
            color: brown;
        }
        li {
            padding-top: 2px;
            padding-bottom: 2px;
        }

        li:hover {
            color: rgb(197, 173, 55);
            transform: scale(1.45);
        }
        a:hover {
            transform: scale(1.05);
            color: rgb(197, 173, 55);

        }


       

    </style>